
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  overflow-x: hidden;
  background-color: #343a40 !important;
  color: #cde;
}

#page-content-wrapper {
  width: 100%;
}

footer {
  background-color: #262a2e;
}

.footer_text {
  font-size: 10px;
  color: rgb(180, 199, 218);
  margin-bottom: 0;
}

// Mutual screen-size style

.full_screen_pic {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.margin_pic {
  margin: 10px 0;
  width: 100%;
  height: auto;
}

.portfolio_pic {
  width: 100%;
  height: 90%;
  object-fit: cover;
  margin: 10px 0;
}

.portfolio_pic:hover {
  opacity: 0.3;
}

.contact_info_layout {
  background-color: rgba(0, 0, 0, 0.3);
}

.btn-link {
  text-decoration: none !important;
  color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 8px 0;;
}

.btn-link:hover {
 text-decoration: none !important;
 color: rgba(255, 255, 255, 0.75);
}


// Desktop
@media (min-width: 992px) {
  
  // Hide all phone content
  .phone {
    display: none;
  }

  .desktop {
    min-height: 100vh;
  }


  // Layout
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    position: fixed;
    top: 0;
    left: 0;
  }

  #page-content-wrapper {
    margin-left: 15rem;
  }

  .list-group-item-action {
    color: #cde;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }

  .logo {
    height: 180px;
    width: 180px;
    margin-left: 30px;
  }

}

// Phones
@media (max-width: 991px) {
  
  // Hide all desktop content
  .desktop {
    display: none;
  }
  
  // Layout
  .navbar-toggler {
    border: none;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  .logo {
    height: 100px;
    width: 100px;
    margin-right: 50px;
  }

  a.bg-dark:hover, a.bg-dark:focus, button.bg-dark:hover, button.bg-dark:focus {
    background-color: #343a40 !important;
}

  .dropdown-item {
    color: rgba(255, 255, 255, 0.5);;
  }

  .dropdown-item:hover {
    color: rgba(255, 255, 255, 0.75);;
  }

  .dropdown-menu {
    border: none;
  }
}